<p>signup works! 2</p>
<div class="container w-50 shadow border mt-5">
    <form [formGroup]="singUpForm" (ngSubmit)="signup()">
        <div class="mb-3">
            <label for="id1" class="form-label">FullName</label>
            <input type="text" class="form-control" id="id1" name="FullName"
                formControlName="FullName" />
        </div>
        <div class="mb-3">
            <label for="id2" class="form-label">Email address</label>
            <input type="email" class="form-control" id="id2" name="email"  formControlName="email" />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

        </div>
        <div class="mb-3">
            <label for="id3" class="form-label">Password</label>
            <input type="password" class="form-control" id="id3" name="password"
                formControlName="password" />
        </div>
        <div class="mb-3">
            <label for="id4" class="form-label">mobileNo</label>
            <input type="text" class="form-control" id="id4" name="mobile"
                formControlName="mobile" />
        </div>
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" routerLink="/login" >login</button>
        <button type="submit" class="btn btn-primary" >singUp</button>
    </div>
    </form>
</div>