<p>update works!</p>
<p>product works!</p>
<div class="container w-50 mt-5 border shadow p-5">
    <h3>Create Product</h3>
    <form [formGroup]="productForm" (ngSubmit)="save()">
       <div class="mb-3">
         <label for="id1" class="form-label">Name</label>
         <input type="text" class="form-control" id="id1" formControlName="name">
       </div>
       <div class="mb-3">
        <label for="id2" class="form-label">Category</label>
        <input type="text" class="form-control" id="id2" formControlName="category">
      </div>
      <div class="mb-3">
        <label for="id3" class="form-label">Price</label>
        <input type="text" class="form-control" id="id3" formControlName="price">
      </div>
       <div class="mb-3">
         <label for="exampleInputPassword1" class="form-label">Stock</label>
         <input type="text" class="form-control" id="exampleInputPassword1" formControlName="stock">
       </div>
      
       <button type="submit" class="btn btn-primary">Save</button>
       <button type="button" class="btn btn-primary ms-3" routerLink="/products/product-list">Back</button> <br>

     </form>
</div>
